I am looking for someone who wants to
<!-- https://rails.ruby.tw/form_helpers.html -->

<form accept-charset="UTF-8" action="users/search" method="get">
  <select name="option">
    <option value="Teach">Teach</option>
    <option value="Learn">Learn</option>
  </select>
  <!-- https://stackoverflow.com/questions/8907867/can-someone-explain-collection-select-to-me-in-clear-simple-terms -->
  <%= collection_select(:language, :id, Language.all, :name, :name, options ={:include_blank => "All Language"}) %>

  <input type="submit" name="commit" value="Search" data-disable-with="Search">
</form>



<% @users.each do |user| %>
  <h2><%= user.username %></h2>
  <%= user.t_or_l_status %>
  <h3>What I want to teach</h3>
  <% user.teaching_languages.each do |language|%>
    <%= language.name %>
  <% end %>
  <h3>What I want to learn</h3>
  <% user.learning_languages.each do |language| %>
    <%= language.name %>
  <% end %>

<% end %>


