<!-- Masthead -->
<header class="masthead text-white">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <h2 class="white">A vocab a day, keep stranger away!</h2>    
      </div>
    </div>
  </div>
</header>

<br>
<br>

<div class="container">
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <%= form_for @lesson do |f| %>
        <div class="form-group">
          開始用
          <%= select_tag "role", options_for_select([['教師','teacher'],['學生','student']]),include_blank: '選擇身份' %>
          的身份與
          <select id="friends_select" name="friendship[id]">
            <option value="<%= @user.id %>"><%= @user.username %></option>
          </select>
          上
          <%= select "language", "id", Language.all.collect {|language| [ language.name, language.id ] }, {prompt: "選擇語言"}, { id: 'languages_select' }  %>
          課
        </div>
        <div class="form-group">
          <%= f.label :title, "課程主旨:" %>
          <%= f.text_field :title %>
        </div>
        <div>
          <%= f.submit 'start', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
