<div class="container">
  <div class="col-md-12">
    <%= render :partial => "shared/search"%>
  </div>
  <br>
  <div class="col-md-12">
    <% @users.each do |user| %>
      <div class="thumbnail col-md-3">
        <div><%= link_to image_tag(user.avatar, class: "user-avatar"), user_path(user) %></div>
        <div><h3><%= link_to user.username, user_path(user) %></h3></div>
        <div>
          <h5>Teaching: <%= user.teaching_languages.pluck(:name).to_sentence%> </h5>
          <h5>Learning: <%= user.learning_languages.pluck(:name).to_sentence%></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>