<div class="container">
  <div class="col-md-12">
    <div class="row">
      <!-- https://rails.ruby.tw/form_helpers.html -->
      <form accept-charset="UTF-8" action="search" method="get">
        <h3>我想要找 </h3>
        <select name="option">
        <option value="Teach">教</option>
        <option value="Learn">學</option>
        </select>
        <!-- https://stackoverflow.com/questions/8907867/can-someone-explain-collection-select-to-me-in-clear-simple-terms -->
        <%= collection_select(:language, :id, Language.all, :name, :name, options ={:include_blank => "全部語言"}) %>
        <h3>的朋友</h3>
        <input type="submit" class="btn btn-primary" name="commit" value="確認" data-disable-with="Search">
      </form>
    </div>
  </div>
  <br>
  <div class="col-md-12">
    <% @users.each do |user| %>
      <div class="thumbnail col-md-3 search-result">
        <div>
          <% if user.avatar? %>
            <%= link_to image_tag(user.avatar, class: "user-avatar"), user_path(user) %>
          <% else %>
            <%= link_to image_tag("https://cdn.filestackcontent.com/EGckE21mQjmc18I37imm", class: "user-avatar"), user_path(user) %> 
          <% end %>
        </div>
        <div><h3><%= link_to user.username, user_path(user) %></h3></div>
        <div>
          <h5>想要教: <%= user.teaching_languages.pluck(:name).to_sentence%> </h5>
          <h5>想要學: <%= user.learning_languages.pluck(:name).to_sentence%></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
