
<% if @user.avatar? %>
  <%= image_tag @user.avatar, width: '300px' %>
<% else %>
  <%= image_tag "/300x300.png" %>
<% end %>
<%= @user.username %>

<p>What I want to teach</p>
<% @user.teaching_languages.each do |language|%>
  <%= language.name %>
<% end %>

<p>What I want to learn</p>
<% @user.learning_languages.each do |language| %>
  <%= language.name %>
<% end %>

<% if @user != current_user %>
  <% if current_user.friending?(@user)%>
    <%= link_to 'Unfriend', friendship_path(@user), method: :delete ,class: "btn btn-link" %>
  <% else %>
    <%= link_to 'Friend', friendships_path(friending_id: @user), method: :post , class: "btn btn-default" %>
  <% end %>
<% else %>
  <%= link_to 'Edit profile', edit_user_path(current_user), class: "btn btn-default" %>
<% end %>

<%= simple_format @user.description %>

<p>Friend List</p>

<% @user.friendings.each do |friend| %>
  <% if friend.avatar? %>
    <%= link_to image_tag(friend.avatar), user_path(friend) %>
  <% else %>
    <%= link_to image_tag("/300x300.png"), user_path(friend) %>
  <% end %>
  <%= link_to friend.username, user_path(friend) %>
<% end %>


<% languages_array = Language.all.map { |language| [language.name, language.id] } %>
<%= select_tag "learn_languages", options_for_select(languages_array)%>
