<table class="table table-striped lesson-table">
    <tr>
        <th><%= sortable "title" %></th>
        <th><%= "教師" %></th>
        <th><%= "學生" %></th>
        <th><%= "語言" %></th>
        <th><%= "字卡" %></th>
    </tr>
    <% if lesson %>
        <%= render partial:"shared/lessonPartial.html.erb", locals:{ lesson: lesson} %>
    <% else %>
        <% lessons.each do |lesson| %>
            <%= render partial:"shared/lessonPartial.html.erb", locals:{ lesson: lesson} %>
        <% end %>
    <% end %>
</table>
