<div class="row">
  <br>
  <% if params[:search] == "" || params[:search] == nil %>
    <%= form_tag lessons_path, :method => 'get', :id => "lessons_search" do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: '搜尋課程主旨或課程內容', size: 50 %>
        <%= submit_tag "搜尋", :name => nil, :class => 'btn btn-primary' %>
      </p>
      <div id="lessons"><%= render 'shared/searched_lessons.html.erb' %></div>
    <% end %> 
    <%= render partial:"shared/lessonsList.html.erb", locals:{ lessons: @lessons, lesson: nil} %>
  <% else %>
    <%= form_tag lessons_path, :method => 'get', :id => "lessons_search" do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: '搜尋課程主旨或課程內容', size: 50 %>
        <%= submit_tag "搜尋", :name => nil, :class => 'btn btn-primary' %>
      </p>
      <div id="lessons"><%= render 'shared/searched_lessons.html.erb' %></div>
  <% end %>  
        <table class="table table-striped lesson-table">
            <tr>
                <th><%= sortable "title" %></th>
                <th><%= "內容" %></th>
                <th><%= "字卡" %></th>
            </tr>
            <% @lessons.each do |lesson| %>
                <tr>
                    <td><%= link_to lesson.title, lesson_path(lesson), :title => '進入課程', :rel => 'tooltip', "data-placement" => "bottom" %></td>
                    <td>
                      <% @content = lesson.content %>
                      ... <%= /\S*\s?\S*\s?#{params[:search]}\s?\S\s?\S*/.match(@content)%> ...
                    </td>
                    <td>
                        <% if lesson.student == current_user%>
                            <%= link_to '<i class="glyphicon glyphicon-education"></i>'.html_safe, vocab_path(lesson), :title => '複習字彙', :rel => 'tooltip', "data-placement" => "bottom" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
      <% end %>
  </div>
