<% if params[:search] == "" || params[:search] == nil %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br>
        <br>
        <%= form_tag lessons_path, :method => 'get', :id => "search" do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <p>
            <%= text_field_tag :search, params[:search], placeholder: 'Search for lesson title or content', size: 50 %>
            <%= submit_tag "Search", :name => nil %>
          </p>

        <% end %> 

        <%= render partial:"shared/lessonsList.html.erb", locals:{ lessons: @lessons} %>
      </div>
    </div>
  </div>

<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <br>
        <br>
        <%= form_tag lessons_path, :method => 'get', :id => "search" do %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <p>
            <%= text_field_tag :search, params[:search], placeholder: 'Search for lesson title or content', size: 50 %>
            <%= submit_tag "Search", :name => nil %>
          </p>

        <% end %> 

        <h3>我的課程列表</h3>
        <table class="table table-striped">
            <tr>
                <th><%= sortable "title" %></th>
                <th><%= "內容" %></th>
                <th><%= "操作" %></th>
            </tr>
            <% @lessons.each do |lesson| %>
                <tr>
                    <td><%= lesson.title %></td>
                    <td>
                      <% @content = lesson.content %>
                      ... <%= /\S*\s?#{params[:search]}\s?\S*/.match(@content)%> ...
                    </td>
                    <td>
                        <%= link_to '<i class="glyphicon glyphicon-play"></i>'.html_safe, lesson_path(lesson), :title => '進入課程', :rel => 'tooltip', "data-placement" => "bottom" %>
                        <% if lesson.student == current_user%>
                            <%= link_to '<i class="glyphicon glyphicon-education"></i>'.html_safe, vocab_path(lesson), :title => '複習字彙', :rel => 'tooltip', "data-placement" => "bottom" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>

      </div>
    </div>
  </div>

<% end %>