<%= form_tag lessons_path, :method => 'get', :id => "lessons_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="lessons"><%= render 'lessons' %></div>
<% end %>

<table>
  <tr>
    <th><%= sortable "title" %></th>
    <th><%= sortable "created_at" %></th>
  </tr>
  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.title %></td>
      <td><%= lesson.created_at.strftime("%B %e, %Y") %></td>
    </tr>
  <% end %>
</table>
<%= paginate @lessons %>