<!-- Masthead -->
<br>
<br>

<div class="container">
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <%= form_for @lesson do |f| %>
        <div class="form-group form-text">
          <div><b>我的身份：</b> <%= select_tag "role", options_for_select([['教師','teacher'],['學生','student']]),include_blank: '選擇身份' %></div><br>
          <div><b>參與者：</b> <%= select "friendship", "id", current_user.friendships.all.collect {|friendship| [ friendship.friending.username, friendship.friending.id ] }, {prompt: "選擇好友"}, { id: 'friends_select' }  %></div><br>
          <div><b>學習語言：</b> <%= select "language", "id", Language.all.collect {|language| [ language.name, language.id ] }, {prompt: "選擇語言"}, { id: 'languages_select' }  %> </div><br>
          <div><%= f.label :title, "課程主旨" %>：<%= f.text_field :title %></div>
        </div>
        <div>
          <%= f.submit '開始上課', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
