<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @lesson.status == true %>
        <h2>Teacher: <%= @lesson.teacher.username %></h2>
        <h2>Student: <%= @lesson.student.username %></h2>
        <h2>Lesson Title: <%= @lesson.title %> with <%= @lesson.teacher.username %> and <%= @lesson.student.username %></h2>
      <% else %>
        <% if current_user == @lesson.teacher %>
          <h2>Lesson Title: <%= @lesson.language.name %> class with <%= @lesson.student.username %> on <%= @lesson.created_at %> about <%= @lesson.title%></h2>
        <% else %>
          <h2>Lesson Title: <%= @lesson.language.name %> class with <%= @lesson.teacher.username %> on <%= @lesson.created_at %> about <%= @lesson.title%></h2>
        <% end %>
      <% end %>
      
      <div id="PadBasic"></div>
      <% if current_user == @lesson.teacher %>
        <%= link_to 'Complete Lesson', lesson_path(@lesson), method: :patch, class: "btn btn-primary" %>
      <% else %>
        <%= link_to 'Back to index', users_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
      // 利用etherpad.js的pad功能建立一個etherpad
$('#PadBasic').pad({'padId': '<%= @lesson.padID %>'}); // sets the pad id and puts the pad in the div
</script>
