<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @lesson.status == true %>
        <h2>Teacher: <%= @lesson.teacher.username %></h2>
        <h2>Student: <%= @lesson.student.username %></h2>
        <h2>Lesson Title: <%= @lesson.title %> with <%= @lesson.teacher.username %> and <%= @lesson.student.username %></h2>
      <% else %>
        <% if current_user == @lesson.teacher %>
          <h2>Lesson Title: <%= @lesson.language.name %> class with <%= @lesson.student.username %> on <%= @lesson.created_at %> about <%= @lesson.title%></h2>
        <% else %>
          <h2>Lesson Title: <%= @lesson.language.name %> class with <%= @lesson.teacher.username %> on <%= @lesson.created_at %> about <%= @lesson.title%></h2>
        <% end %>
      <% end %>
      
      <div id="PadBasic"></div>
      <% if current_user == @lesson.teacher %>
        <%= link_to 'Complete Lesson', lesson_path(@lesson), method: :patch, class: "btn btn-primary" %>
      <% else %>
        <%= link_to 'Back to index', users_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
      // 利用etherpad.js的pad功能建立一個etherpad
$('#PadBasic').pad({'padId': '<%= @lesson.padID %>'}); // sets the pad id and puts the pad in the div
</script>

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">電子白板注意事項</h3>
      </div>
      <div class="modal-body">
        <h3>請用下面格式輸入生字(:隔開單字及翻譯)</h3>
        <h4>beautiful:漂亮的</h4>
        <br>
        <h3>請用下面格式輸入問題與解答(Q:表示問題,A:表示解答)</h3>
        <h4>Q:beautiful?</h4>
        <h4>A:漂亮的.</h4>
      </div>
      <div class="modal-footer">
        <!-- Make sure to include the 'dismiss' class on the buttons -->
        <label><input type="checkbox" name="dismiss" />Don't show again!</label><br />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary save" data-dismiss="modal" aria-hidden="true">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
