<!DOCTYPE html>
<html>
  <head>
    <title>iLang</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %> 
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  </head>

  <body>
    <!-- 導覽列 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo">
            <%= link_to image_tag("https://cdn.filestackcontent.com/mOmkhrRXSNqCX7Lyi6bd", height: '60', width: '120'), root_path %>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="pull-right text-right nav navbar-nav">
            <% if current_user %>
              <!-- TODO: 修改navbar的URL，連到對的地方 -->
              <!-- 根據使用者目前是否有進行中的課程顯示加入課程或開啟課程 -->
              <% if current_user.is_ongoing_lesson? %>
                <li><%= link_to('Join lesson', lessons_path) %></li>
              <% else %>
                <li><%= link_to('Start lesson', new_lesson_path) %></li>
              <% end %>
              <li><%= link_to('Search', users_path) %></li>
              <li><%= link_to('Review', reviews_path) %></li>
              <!-- user's avatar or dummy -->
              <% if current_user.avatar? %>
                <li><%= link_to image_tag(current_user.avatar, height: '30', width: '30'), user_path(current_user) %></li>
              <% else %>
                <li><%= link_to image_tag("/300x300.png", height: '30', width: '30'), user_path(current_user) %></li>
              <% end %>

              
              <li><%= link_to('登出', destroy_user_session_path, method: :delete) %></li>
            <% else %>
              <li><%= link_to('註冊', new_user_registration_path) %></li>
              <li><%= link_to('登入', new_user_session_path) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
          
    <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <%= notice %>
        </div>
      </div>
    </div>
    <% end %>

    <div id="alert">
      <% if flash[:alert] %>
        <%= render partial: "shared/alert" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
